* {
    border: none;
    border-radius: 0;
    font-family: 'fontawesome' , 'monospace' ;
    font-size: 16px;
    min-height: 30px;
}

#waybar {
  background: transparent;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#backlight {
  border-radius: 15px;
  background-color: #1e1e2e;
  margin-top: 15px;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 10px;
}

#workspaces button {
  background: transparent;
  color: #61afef;
}

#workspaces button.active {
  color: #1e1e2e;
}

#workspaces {	
    background: #1e1e2e;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#window {
    color: #ffffff;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ffffff;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
    margin-right: 10px;
    border-left: 0px;
}
